.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
  }
  
  .footerlogo h1 {
  font-size: 32px;
  margin-bottom: 20px;
  }
  
  .footercontact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  
  .contactinfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: all 0.2s ease;
  }
  
  .contactinfo:hover {
  transform: translateY(-5px);
  }
  
  .icon {
  font-size: 24px;
  margin-right: 10px;
  }
  
  .verticalline {
  width: 2px;
  height: 20px;
  background-color: #fff;
  margin: 0 20px;
  }
  
  .footercopyright {
  margin-top: 20px;
  }