/* ----------- Home Container ----------- */

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .homeContainer {
    padding: 0 10px;
  }
}

/* ----------- Sous-Container 1 ----------- */

.homeSousContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .homeSousContainer1 {
    flex-direction: row;
    justify-content: space-between;
  }
}

.homeAccueil {
  text-align: center;
  margin-bottom: 50px;
}

.homeTitle {
  font-size: 48px;
  margin-bottom: 10px;
}

.homeSousTitre {
  font-size: 24px;
}

.homeImage1 {
  margin-bottom: 50px;
}

.homeImage2 {
  margin-top: 50px;
}

/* ----------- Sous-Container 2 ----------- */

.homeSousContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeApropos {
  text-align: center;
}

.homeApropos h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.homeApropos p {
  font-size: 18px;
  margin-bottom: 20px;
}

.homeBtnMoreApropos {
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

/* ----------- Sous-Container 3 ----------- */

.homeSousContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeProduit {
  text-align: center;
  width: 100%;
}

.homeProduitTitle {
  font-size: 36px;
  margin-bottom: 30px;
}

.homeSlider {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
